Repository E3SM-Project/mache, pull requests merged in 2024-09, with the labels that each got.

#188 Add `cuda` to `pm-gpu` yaml files for `spack` builds
  conda/meta.yaml
  mache/spack/pm-gpu_gnugpu_mpich.yaml
  mache/spack/pm-gpu_nvidiagpu_mpich.yaml
  mache/version.py
Labels: enhancement, spack

#191 Add python to compy spack
  mache/spack/compy_gnu_openmpi.yaml
  mache/spack/compy_intel_impi.yaml
Labels: enhancement, spack

#192 Tweak CI workflow behavior
  .github/workflows/build_workflow.yml
  .github/workflows/docs_workflow.yml
Labels: ci

#195 Add additional flags to `pip install` command
  .github/workflows/build_workflow.yml
  .github/workflows/docs_workflow.yml
  conda/build.sh
  docs/developers_guide/quick_start.md
Labels: documentation, ci

#194 Improve tests
  .github/workflows/build_workflow.yml
  .github/workflows/docs_workflow.yml
  conda/meta.yaml
  conda/run_test.py
  tests/__init__.py
  tests/test_machine_info.py
Labels: ci, clean-up

#193 Update `config_machines.xml`
  mache/cime_machine_config/config_machines.xml
  mache/spack/compy_intel_impi.yaml
  mache/spack/frontier_gnu_mpich.csh
  mache/spack/frontier_gnu_mpich.sh
  mache/spack/frontier_gnu_mpich.yaml
  mache/spack/pm-cpu_gnu_mpich.csh
  mache/spack/pm-cpu_gnu_mpich.sh
  mache/spack/pm-cpu_gnu_mpich.yaml
  mache/spack/pm-cpu_intel_mpich.csh
  mache/spack/pm-cpu_intel_mpich.sh
  mache/spack/pm-cpu_intel_mpich.yaml
  mache/spack/pm-cpu_nvidia_mpich.csh
  mache/spack/pm-cpu_nvidia_mpich.sh
Labels: spack, config-machines

#198 Remove `[include_]system_hdf5_netcdf`
  mache/machines/anvil.cfg
  mache/machines/chicoma-cpu.cfg
  mache/machines/chrysalis.cfg
  mache/machines/compy.cfg
  mache/machines/frontier.cfg
  mache/machines/pm-cpu.cfg
  mache/machines/pm-gpu.cfg
  mache/spack/__init__.py
  mache/spack/chicoma-cpu_gnu_mpich.yaml
  mache/spack/chicoma-cpu_nvidia_mpich.yaml
  mache/spack/frontier_crayclang_mpich.yaml
  mache/spack/frontier_crayclanggpu_mpich.yaml
  mache/spack/frontier_gnu_mpich.yaml
  mache/spack/frontier_gnugpu_mpich.yaml
  mache/spack/pm-cpu_gnu_mpich.yaml
  mache/spack/pm-cpu_intel_mpich.yaml
  mache/spack/pm-cpu_nvidia_mpich.yaml
  mache/spack/pm-gpu_gnugpu_mpich.yaml
  mache/spack/pm-gpu_nvidiagpu_mpich.yaml
Labels: clean-up, spack
