Repository E3SM-Project/mache, pull requests merged in 2025-07, with the labels that each got.

#271 Reorganize `mache.spack` for better modularization
  docs/index.md
  mache/spack/__init__.py
  mache/spack/env.py
  mache/spack/script.py
  mache/spack/shared.py
Labels: documentation, clean-up, spack

#273 Use system module for cmake on Compy
  mache/spack/templates/compy_intel_impi.yaml
Labels: spack

#277 Switch pre-commit update workflow to use conda
  .github/workflows/pre_commit_update_workflow.yml
Labels: bug, ci
